# dependencies
**/node_modules
**/npm-debug.log*
**/yarn-error.log
**/yarn.lock
**/package-lock.json

# misc
.DS_Store

# pk01
/packages/pk01/src/.umi*
/packages/pk01/.env
/packages/pk01/dist

# other packages
/packages/*/es
/packages/*/lib